body {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
}

.container div {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.container input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
}

.container button{
    width: 100%;
    box-sizing: border-box;
}
