body {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 320px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}

.container input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
}